<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <nav id="navbar">
        <header>
            <h1>TODO list</h1>
        </header>
    </nav>

    <main id="main">
        <h2>Tasks to do:</h2>
        <ol class="list">
            {% for task in tasks_todo %}
            <div class="list-item">
                <li>
                    <h6>{{ task.name }}</h6>
                    <i>{{ task.creation_date }}</i>
                    <br>
                    <br>
                    <p>{{ task.description }}</p>
                </li>
            </div>

            {% endfor %}
        </ol>

        <h2>Completed:</h2>
        <ol class="list">
            {% for task in completed_tasks %}
            <div class="list-item">
                <li>
                    <h6>{{ task.name }}</h6>
                    <br>
                    <p>{{ task.description }}</p>
                </li>
            </div>
            {% endfor %}
        </ol>
    </main>

    <footer>
        <div class="footer">
            <a href="https://github.com/VeRhont">GitHub</a>
        </div>
    </footer>

</body>

</html>